/*********************
BREAKPOINTS
*********************/
.main,
.sidebar,
.instruction {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
}

@media (min-width: 70em) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .main,
  .sidebar,
  .instruction {
    width: 33.33333%;
  }
}

@media (min-width: 70em) and (-webkit-min-device-pixel-ratio: 1) {
  .main,
  .sidebar,
  .instruction {
    width: 33.33333%;
  }
}

@media (min-width: 64em) {
  .main,
  .sidebar,
  .instruction {
    width: 33.33333%;
  }
}

.main h1 {
  display: block;
  width: 100%;
  height: 400px;
  font-size: 2em;
  font-weight: bold;
  background: url("http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?v=at&w=320&h=180&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0") no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 70em) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .main h1 {
    background: url("http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at") no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

/**
 * Gradient mixin setting
 */
.main {
  /* fallback/image non-cover color */
  background-color: white;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(white, blue);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(blue));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(white, blue);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(white, blue);
}

.sidebar {
  /* fallback/image non-cover color */
  background-color: red;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(red, yellow);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(red), to(yellow));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(red, yellow);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(red, yellow);
}

.instruction {
  /* fallback/image non-cover color */
  background-color: blue;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(blue, green);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(blue), to(green));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(blue, green);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(blue, green);
}
